html, body, div, p {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  background: #FCF8F4;
  height: 100%;
  width: 100%;
  overflow: visible;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}

canvas {
  width: 580px;
  height: 580px;
  position: absolute;
  z-index: 40;
  opacity: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background: transparent;
}

.canvasContainer {
  position: absolute;
  width: 660px;
  height: 660px;
  background: transparent url(../img/paper_pattern.png) repeat top left;
  box-shadow: 0 13px 12px -6px rgba(0, 0, 0, 0.7), 5px -5px 15px -5px rgba(0, 0, 0, 0.8), -5px -5px 15px -5px rgba(0, 0, 0, 0.8), inset 0 15px 40px -20px rgba(0, 0, 0, 0.8);
  
  -webkit-transform: rotate3d(0, 0, 0, 0);
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -o-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);

  background-size: 30% 30%;
  -webkit-background-size: 30% 30%;
  -moz-background-size: 30% 30%;
  -o-background-size: 30% 30%;
  z-index: 5;
}

.canvasBackground {
  position: absolute;
  background: #DDD url(../img/background.png) repeat top left;
  z-index: 10;
}

#container {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;


  -webkit-transform: translate3d(0, 0, 0, 0);

  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-perspective: 5000px;
  -moz-perspective: 5000px;
  -ms-perspective: 5000px;
  -o-perspective: 5000px;
  perspective: 5000px;
}

.covershadow {
  position: absolute;
  background: transparent url(../img/shad.png) no-repeat bottom left;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  height: 0;
  width: 740px;
  opacity: 0.7;
  z-index: 0;

  -webkit-transform: translate3d(0, 0, 0, 0);

  -webkit-transition: height 300ms ease-out;
  -moz-transition: height 300ms ease-out;
  -ms-transition: height 300ms ease-out;
  -o-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
}

.covershadow.opened {
  height: 60px;
}

#insideshadow {
  position: absolute;
  background: transparent url(../img/inside_shadow.png) no-repeat top left;
  opacity: 0.4;
  width: 660px;
  height: 660px;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  z-index: 90;

  -webkit-transition: -webkit-transform 650ms ease-in;
  -moz-transition: -moz-transform 650ms ease-in;
  -ms-transition: -ms-transform 650ms ease-in;
  -o-transition: -o-transform 650ms ease-in;
  transition: transform 650ms ease-in;

  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;

  -webkit-backface-visibility: hidden;
}

#insideshadow.opened {
  -webkit-transform: rotate3d(1, 0, 0, 80deg) translateY(-40px);
  -moz-transform: rotate3d(1, 0, 0, 80deg) translateY(-40px);
  -ms-transform: rotate3d(1, 0, 0, 80deg) translateY(-40px);
  -o-transform: rotate3d(1, 0, 0, 80deg) translateY(-40px);
  transform: rotate3d(1, 0, 0, 80deg) translateY(-40px);
}

#cover {
  position: absolute;
  background: transparent url(../img/cover_large.png) repeat top left;
  z-index: 100;
  -webkit-transition: -webkit-transform 1000ms ease-in-out; 
     -moz-transition: -moz-transform 1000ms ease-in-out; 
      -ms-transition: -ms-transform 1000ms ease-in-out; 
       -o-transition: -o-transform 1000ms ease-in-out; 
          transition: transform 1000ms ease-in-out; /* custom */

  -webkit-transform-origin: center 0;
  -moz-transform-origin: center 0;
  -ms-transform-origin: center 0;
  -o-transform-origin: center 0;
  transform-origin: center 0;

  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;

  -webkit-transform: translateZ(150px) translateY(10px) scale(0.97);
  -moz-transform: translateZ(150px) translateY(10px) scale(0.97);
  -ms-transform: translateZ(150px) translateY(10px) scale(0.97);
  -o-transform: translateZ(150px) translateY(10px) scale(0.97);
  transform: translateZ(150px) translateY(10px) scale(0.97);
}

#cover.small {
  background: transparent url(../img/cover.png) repeat top left!important;
}

#cover.opened {
  -webkit-transform: rotate3d(1, 0, 0, 110deg);
  -moz-transform: rotate3d(1, 0, 0, 110deg);
  -ms-transform: rotate3d(1, 0, 0, 110deg);
  -o-transform: rotate3d(1, 0, 0, 110deg);
  transform: rotate3d(1, 0, 0, 110deg);
}

.logo {
  background: transparent url(../img/logo.png) no-repeat top left;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  width: 136px;
  height: 28px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: none;
}
.logo.white {
  background-image:url(../img/logo_white.png);
}

#container #cover .logo {
  bottom: 20px;
  right: 20px;
  display: block;
}

#instructions {
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: HelveticaNeue, Arial, sans-serif;
  color: #C0BEB7;
  text-shadow:  0 1px 1px rgba(255, 255, 255, 1);
  font-size: 1.1em;
  position: absolute;
  z-index: 60;
  background: transparent url(../img/pictophone.png) no-repeat top left;
  
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;

  -webkit-transform: translateZ(200px);
  display: none;

  -webkit-transition: -webkit-transform 1200ms ease-in-out; 
     -moz-transition: -moz-transform 1200ms ease-in-out; 
      -ms-transition: -ms-transform 1200ms ease-in-out; 
       -o-transition: -o-transform 1200ms ease-in-out; 
          transition: transform 1200ms ease-in-out; /* custom */
}

#instructions.toLeft {
  -o-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -webkit-transform: translateX(-200px) translateZ(200px);
  transform: translateX(-200px) translateZ(200px);
}
#instructions.toRight {
  -o-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -webkit-transform: translateX(200px) translateZ(200px);
  transform: translateX(200px) translateZ(200px);
}

#content, #contentcopy {
  width: 580px;
  height: 580px;
  position: absolute;
  z-index: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  user-select: none;

  display: none;
}

#content {
  top: 40px;
  left: 40px;
  z-index: 20;
}

#contentcopy {
  z-index: 60;
}

#content.big,
#contentcopy.big {
  background-image: url(../img/message_big.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#overlay {
  width: 580px; 
  height: 580px; 
  position: absolute;
  z-index: 10;
  display: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  user-select: none;
  left: 40px;
  top: 40px;
}

.overlay-triangle {
  float: left;
  position: relative;
  border-top: 0;
  border-right: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent; 
  border-left: 20px solid #FFF;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  user-select: none;
}

.overlay-triangle.odd {
  border-bottom: 0;
  border-left: 0;
  border-top: 20px solid transparent; 
  border-right: 20px solid #FFF;
  margin-left: -20px;
}

#fake-canvas {
  width: 660px;
  height: 660px;
  background: transparent url(../img/paper_pattern.png) repeat top left;
  position: absolute;
  z-index: 5;
}

#fake-background {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px;
  background: transparent url(../img/background.png) repeat top left;
  z-index: 2;
}


#fake-content {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px;
  z-index: 3;
  display: none;
}

#intro {
  position: absolute;
  width: 700px;
  z-index: 20;
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 50%;
}

.intro-triangle {
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-bottom: 20px solid transparent;
  border-left: 20px solid #FFF;

  display: none;

  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.please-wait {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  display: block;
  z-index: 1;
  font-size: 20px;
  font-family: HelveticaNeue, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #322927;
  text-shadow: 0 1px 1px #FFF;
}

/*
* I'm tired of these motherfuckin' triangles on this motherfuckin' plane
*/

#it1 {
  top: 160px;
  left: 0;

  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}

#it2 {
  top: 160px;
  left: 20px;
}

#it3 {
  top: 20px;
  left: 40px;
}
#it4 {
  top: 140px;
  left: 40px;
}
#it5 {
  top: 160px;
  left: 40px;
}

#it6 {
  top: 0;
  left: 60px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it7 {
  top: 120px;
  left: 60px;
}
#it8 {
  top: 160px;
  left: 60px;
}

#it9 {
  top: 20px;
  left: 80px;
}
#it10 {
  top: 80px;
  left: 80px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it11 {
  top: 100px;
  left: 80px;
}
#it12 {
  top: 160px;
  left: 80px;
}

#it13 {
  top: 40px;
  left: 100px;
}
#it14 {
  top: 60px;
  left: 100px;
}

#it15 {
  top: 60px;
  left: 140px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it16 {
  top: 80px;
  left: 140px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it17 {
  top: 100px;
  left: 140px;
}
#it18 {
  top: 120px;
  left: 140px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it19 {
  top: 140px;
  left: 140px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}


#it20 {
  top: 20px;
  left: 160px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it21 {
  top: 40px;
  left: 160px;
}
#it22 {
  top: 160px;
  left: 160px;
}

#it23 {
  top: 20px;
  left: 180px;
}
#it24 {
  top: 160px;
  left: 180px;
}
#it25 {
  top: 20px;
  left: 200px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}

#it26 {
  top: 160px;
  left: 200px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it27 {
  top: 20px;
  left: 220px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it28 {
  top: 60px;
  left: 220px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it29 {
  top: 80px;
  left: 220px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it30 {
  top: 100px;
  left: 220px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it31 {
  top: 120px;
  left: 220px;
}
#it32 {
  top: 140px;
  left: 220px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it33 {
  top: 160px;
  left: 220px;
}
#it34 {
  top: 40px;
  left: 240px;
}
#it35 {
  top: 40px;
  left: 280px;
}

#it36 {
  top: 20px;
  left: 280px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it37 {
  top: 20px;
  left: 300px;
}
#it38 {
  top: 40px;
  left: 300px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it39 {
  top: 60px;
  left: 300px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it40 {
  top: 80px;
  left: 300px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it41 {
  top: 100px;
  left: 300px;
}
#it42 {
  top: 120px;
  left: 300px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it43 {
  top: 140px;
  left: 300px;
}
#it44 {
  top: 160px;
  left: 300px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it45 {
  top: 160px;
  left: 360px;
}
#it46 {
  top: 20px;
  left: 380px;
}
#it47 {
  top: 80px;
  left: 380px;
}
#it48 {
  top: 160px;
  left: 380px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it49 {
  top: 0;
  left: 400px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it50 {
  top: 80px;
  left: 400px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it51 {
  top: 160px;
  left: 400px;
}
#it52 {
  top: 20px;
  left: 420px;
}
#it53 {
  top: 60px;
  left: 420px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it54 {
  top: 100px;
  left: 420px;
  border-bottom: 0;
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-left: 0;
}
#it55 {
  top: 140px;
  left: 420px;
}
#it56 {
  top: 160px;
  left: 420px;
}
#it57 {
  top: 40px;
  left: 440px;
}
#it58 {
  top: 60px;
  left: 440px;
}
#it59 {
  top: 120px;
  left: 440px;
}










